
#fondo{
    position: relative;
    background-color: rgb(0, 255, 191);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    animation: pulse 0.5s infinite;
}

#fondo.random{
    position: relative;
    background-color: rgb(0, 255, 191);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    animation: pulse 0.5s infinite;
}
@keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    10% {
      background-color: #fcff36;
    }
    20% {
        background-color: #3f002c;
      }
    30% {
        background-color: #ff3636;
      }
    40% {
        background-color: #3d003f;
      }
    50% {
        background-color: #97ff36;
      }
    60% {
        background-color: #3f3000;
      }
    70% {
        background-color: #c9ff36;
      }
    80% {
        background-color: rgb(0, 63, 3);
      }
    90% {
        background-color: #a536ff;
      }
    100% {
        background-color: #001F3F;
      }
  }
#face{
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    transition: 1s;
}

#face.random{
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

#hat{
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    transition: 1s;
}

#hat.random{
    position: absolute;
    top: 480px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    transform: rotate(180deg);
}

#eyel{
    position: absolute;
    top: 320px;
    left: 85px;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    transition: 1s;
}

#eyel.random{
    position: absolute;
    top: 320px;
    left: 185px;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

#eyer{
    position: absolute;
    top: 320px;
    left: 0;
    right: 85px;
    margin: 0 auto;
    z-index: 2;
    transition: 1s;
}

#eyer.random{
    position: absolute;
    top: 320px;
    left: 0;
    right: 185px;
    margin: 0 auto;
    z-index: 2;
}

#earl{
    position: absolute;
    top: 300px;
    left: 260px;
    right: 0;
    margin: 0 auto;
    z-index: 0;
    transition: 1s;
}

#earl.random{
    position: absolute;
    top: 450px;
    left: 260px;
    right: 0;
    margin: 0 auto;
    z-index: 0;
}

#earr{
    position: absolute;
    top: 300px;
    left: 0;
    right: 260px;
    margin: 0 auto;
    z-index: 0;
    transition: 1s;
}

#earr.random{
    position: absolute;
    top: 450px;
    left: 0;
    right: 260px;
    margin: 0 auto;
    z-index: 0;
}

#nose{
    position: absolute;
    top: 370px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

#mos{
    position: absolute;
    top: 500px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    transition: 1s;
}

#mos.random{
    position: absolute;
    top: 280px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(180deg);
}

#fotl{
    position: absolute;
    top: 590px;
    left: 155px;
    right: 0;
    margin: 0 auto;
    z-index: 0;
}



#fotr{
    position: absolute;
    top: 590px;
    left: 0;
    right: 155px;
    margin: 0 auto;
    z-index: 0;
}

